{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "singleQuote": false,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}
